body {
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	background-color: antiquewhite;
}

/* customized headings */
h2 {
	font-size: 30px;
	text-align: center;
	margin-top: 30px;
	background-color: lightyellow;
	color: darkorange;
	padding: 10px;
	border-bottom: 2px solid lightgoldenrodyellow;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.2);
}

/* table styling using spacing */
table {
	text-align: center;
	margin: 20px auto;
	border-spacing: 5px;
}

/* table header styling using border */
th {
	font-size: 20px;
  	background-color: #f2f2f2;
  	padding: 8px;
	border: 1px solid grey;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

td {
	font-size: 18px;
	background-color: #f2f2f2;
	border-radius: 5px;
	padding: 30px 50px;
}

/* image styling */
#man {
	width: 100px;
	height: 100px;
	border-radius: 10px;
}

/* tic tac toe board styling */
.tic {
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* tic tac toe cell styling */
.tic td {
	background-color: #e6f7ff;
	border: 1px solid #b3d9ff;
	padding: 10px 13px;
}

/* basic form styling */
form {
	font-size: 18px;
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 40px;
	margin: 40px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	line-height: 1.6;
}
